<a href="https://colab.research.google.com/github/vinayak2019/UK_Bootcamp/blob/main/ABCs_of_Python_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas DataFrame**

The pandas DataFrame is a table - it has rows with index and columns with headers. Each column is a pandas.Series object The required columnar data can be accessed with dot notation or subscripting. The row data can be accessed with iloc or loc method.

In [ ]:
# Let's import the package
import pandas as pd

## **Importing Comma Separated Files (CSV)**

We will use the *read_csv* function from pandas to read a CSV file. You can even read Excel file and other formats

In [ ]:
# get the CSV file from GitHub
! git clone https://github.com/vinayak2019/UK_Bootcamp.git

In [ ]:
# Read the CSV file
df = pd.read_csv("UK_Bootcamp.csv")

# Look at the first 5 entries with 'head' method
df.head()

,First_Name,Last_Name,Major,Education,Is_researcher,Is_programmer
0,Bonnie,Williams,Computer Science,Undergraduate,No,"Yes - If yes, which language(s)"
1,Mattie,Allen Thomas,Computer engineering,Undergraduate,No,No
2,Sarah,NaN,Chemical Engineering,Undergraduate,No,No
3,Tylee,Shackleford,Civil Engineering,Undergraduate,No,"Yes - If yes, which language(s)"
4,Thomas,Colliins,Information Communication Technology,Undergraduate,No,"Yes - If yes, which language(s)"

## **Data analysis**

In [ ]:
# Take a look at all the column names with columns method
df.columns

In [ ]:
# Get the column with Education and save it to education
education = df["Education"]
education

0     Undergraduate
1     Undergraduate
2     Undergraduate
3     Undergraduate
4     Undergraduate
5       High school
6     Undergraduate
7          Graduate
8     Undergraduate
9     Undergraduate
10         Graduate
11      High school
12      High school
13    Undergraduate
14    Undergraduate
15         Graduate
16         Graduate
17    Undergraduate
18    Undergraduate
19    Undergraduate
20         Graduate
21         Graduate
22         Graduate
23         Graduate
24    Undergraduate
25    Undergraduate
26    Undergraduate
27         Graduate
28         Graduate
29         Graduate
30    Undergraduate
31    Undergraduate
32         Graduate
33         Graduate
34    Undergraduate
35    Undergraduate
36              NaN
37              NaN
38         Graduate
39    Undergraduate
40         Graduate
41    Undergraduate
42    Undergraduate
Name: Education, dtype: object

We have some missing values - NaN. Let's remove those values with dropna

In [ ]:
# Drop the rows with NaN in atomic_radius column
education_clean = df["Education"].dropna()
education_clean

0     Undergraduate
1     Undergraduate
2     Undergraduate
3     Undergraduate
4     Undergraduate
5       High school
6     Undergraduate
7          Graduate
8     Undergraduate
9     Undergraduate
10         Graduate
11      High school
12      High school
13    Undergraduate
14    Undergraduate
15         Graduate
16         Graduate
17    Undergraduate
18    Undergraduate
19    Undergraduate
20         Graduate
21         Graduate
22         Graduate
23         Graduate
24    Undergraduate
25    Undergraduate
26    Undergraduate
27         Graduate
28         Graduate
29         Graduate
30    Undergraduate
31    Undergraduate
32         Graduate
33         Graduate
34    Undergraduate
35    Undergraduate
38         Graduate
39    Undergraduate
40         Graduate
41    Undergraduate
42    Undergraduate
Name: Education, dtype: object

The default index starts with 0. We will set the *First_Name* symbol column as the index.

In [ ]:
new_df = df.set_index("First_Name")
new_df.head()

,Last_Name,Major,Education,Is_researcher,Is_programmer
First_Name,,,,,
Bonnie,Williams,Computer Science,Undergraduate,No,"Yes - If yes, which language(s)"
Mattie,Allen Thomas,Computer engineering,Undergraduate,No,No
Sarah,NaN,Chemical Engineering,Undergraduate,No,No
Tylee,Shackleford,Civil Engineering,Undergraduate,No,"Yes - If yes, which language(s)"
Thomas,Colliins,Information Communication Technology,Undergraduate,No,"Yes - If yes, which language(s)"

In [ ]:
# To get the first row let's use loc method
new_df.loc["Bonnie"]

Last_Name                               Williams
Major                           Computer Science
Education                          Undergraduate
Is_researcher                                 No
Is_programmer    Yes - If yes, which language(s)
Name: Bonnie, dtype: object

In [ ]:
# Unlike loc which checks for the value in the index, iloc uses the row number
# row number starts with 0
new_df.iloc[0]

Last_Name                               Williams
Major                           Computer Science
Education                          Undergraduate
Is_researcher                                 No
Is_programmer    Yes - If yes, which language(s)
Name: Bonnie, dtype: object

## **Exercise**

Count the number of participants whi are not researchers in the original dataframe.


Hint: Get the column is_researcher and use a for loop. Within the for loop use a if condition to check whether the entry is No and update a counter

In [ ]:
# YOUR CODE HERE

Set the column with Last_Name as the index

In [ ]:
# YOUR CODE HERE

## **Groupby method**

This method allows you to group data. A categorical variable is generally used.

In [ ]:
# Group participants by Is_programmer
# Here we first group data by Is_programmer and get the entries in No.
# The resultant object is another dataframe

is_programmer_group = df.groupby("Is_programmer")
not_programmer = is_programmer_group.get_group("No")
not_programmer

,First_Name,Last_Name,Major,Education,Is_researcher,Is_programmer
1,Mattie,Allen Thomas,Computer engineering,Undergraduate,No,No
2,Sarah,NaN,Chemical Engineering,Undergraduate,No,No
6,Chloe,Arpin,Biology and Chemistry,Undergraduate,"Yes - If yes, please describe your research in...",No
9,Sindhura,Yang,Neuroscience,Undergraduate,No,No
11,Angel,Dotsey,Neuroscience,High school,No,No
12,Sourav,Rogers,NaN,High school,No,No
15,Jeremy,NaN,Chemistry,Graduate,"Yes - If yes, please describe your research in...",No
16,Sophia,Choate,Linguistics,Graduate,No,No
17,Lauren,Rooks,Agricultural and Medical Biotechnology,Undergraduate,"Yes - If yes, please describe your research in...",No
18,Great,Rios,Materials Engineering,Undergraduate,"Yes - If yes, please describe your research in...",No
19,Leighanne,Havard,Biology,Undergraduate,No,No
22,Devan,Parris,MBA/Leadership,Graduate,No,No
25,Ana,Mitchell,Political Science and Economics,Undergraduate,"Yes - If yes, please describe your research in...",No
28,Christian Dzidula,Brentzel,Medicine,Graduate,No,No
29,Khamil,Kwenga,Chemistry,Graduate,"Yes - If yes, please describe your research in...",No
30,Rosbelly,Yang,Neuroscience,Undergraduate,No,No
31,Mary,Sampaio,Agricultural and Medical Biotechnology,Undergraduate,"Yes - If yes, please describe your research in...",No
32,Charis,Winstead,Linguistics,Graduate,"Yes - If yes, please describe your research in...",No
35,Katelyn,Wagenheim,Computer Science,Undergraduate,No,No
39,Eric,Mott,Agricultural and Medical Biotechnology,Undergraduate,No,No
41,Chavay,Saman,Neuroscience,Undergraduate,No,No
42,Helen,Umenweke,Biology and Chemistry,Undergraduate,"Yes - If yes, please describe your research in...",No

There are several methods available for a DataFrame and Series. Use *dir* on the DataFrame object to list the methods

In [ ]:
# Let's use the count method to find the number of entries in the not_programmer dataframe
not_programmer.count()

First_Name       22
Last_Name        20
Major            21
Education        22
Is_researcher    22
Is_programmer    22
dtype: int64

##**EXERCISE**

Using the dataframe 'df', create a new dataframe without any NaN values. (Hint: Use dropna). Then with the new dataframe, get participants who are undergraduates

In [ ]:
# Create the clean dataframe with dropna
clean_df = # YOUR CODE HERE

# Use groupby on Education
education_group = # YOUR CODE HERE


# Get group of Undergraduate
undergraduates = # YOUR CODE HERE

43

Get list of participants how are Graduates and non-programmers.

Hint: Use a tuple of arguments ("Education","Is_programmer") in groupby instead of a single argument we use before. To get the group of graduates and non-programmers, use the corresponding labels as a tuple ("Graduate","No")

In [ ]:
# YOUR CODE HERE

## **Saving the dataframe**

We will save the s block dataframe as a CSV file. The format can be excel too.

In [ ]:
not_programmer.to_csv("non_programmers.csv")

# Submit your project description by the end of the session. Use [this link]( https://forms.gle/y2epBvwr84Pc4mS38)