<a href="https://colab.research.google.com/github/vinayak2019/UK_Bootcamp/blob/main/2023/Exercises/Data_analysis_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas DataFrame**

The pandas DataFrame is a table - it has rows with index and columns with headers. Each column is a pandas.Series object The required columnar data can be accessed with dot notation or subscripting. The row data can be accessed with iloc or loc method.

In [ ]:
# Let's import the package
import pandas as pd

## **Importing Comma Separated Files (CSV)**

We will use the *read_csv* function from pandas to read a CSV file. You can even read Excel file and other formats

In [ ]:
# get the CSV file
! wget https://raw.githubusercontent.com/vinayak2019/UK_Bootcamp/main/2023/Exercises/UK_Bootcamp.csv

In [ ]:
# Read the CSV file
df = pd.read_csv("UK_Bootcamp.csv")

# Look at the first 5 entries with 'head' method
df.head()

## **Data analysis**

In [ ]:
# Take a look at all the column names with columns method
df.columns

In [ ]:
# Get the column with Education and save it to education
education = df["Education"]
education

We have some missing values - NaN. Let's remove those values with dropna

In [ ]:
# Drop the rows with NaN in atomic_radius column
education_clean = df["Education"].dropna()
education_clean

The default index starts with 0. We will set the *First_Name* symbol column as the index.

In [ ]:
new_df = df.set_index("First_Name")
new_df.head()

In [ ]:
# To get the first row let's use loc method
new_df.loc["Bonnie"]

In [ ]:
# Unlike loc which checks for the value in the index, iloc uses the row number
# row number starts with 0
new_df.iloc[0]

## **Exercise**

Count the number of participants who are not researchers in the original dataframe.


Hint: Get the column is_researcher and use a for loop. Within the for loop use a if condition to check whether the entry is No and update a counter

In [ ]:
# YOUR CODE HERE

Set the column with Last_Name as the index

In [ ]:
# YOUR CODE HERE

## **Groupby method**

This method allows you to group data. A categorical variable is generally used.

In [ ]:
# Group participants by Is_programmer
# Here we first group data by Is_programmer and get the entries in No.
# The resultant object is another dataframe

is_programmer_group = df.groupby("Is_programmer")
not_programmer = is_programmer_group.get_group("No")
not_programmer

There are several methods available for a DataFrame and Series. Use *dir* on the DataFrame object to list the methods

In [ ]:
# Let's use the count method to find the number of entries in the not_programmer dataframe
not_programmer.count()

##**EXERCISE**

Using the dataframe 'df', create a new dataframe without any NaN values. (Hint: Use dropna). Then with the new dataframe, get participants who are undergraduates

In [ ]:
# Create the clean dataframe with dropna
clean_df = # YOUR CODE HERE
clean_df.head()

In [ ]:
# Use groupby on Education
education_group = # YOUR CODE HERE

In [ ]:
# Get group of Undergraduate
undergraduates = # YOUR CODE HERE

Get list of participants how are Graduates and non-programmers.

Hint: Use a list of arguments ["Education","Is_programmer"] in groupby instead of a single argument "Education" we use before. To get the group of graduates and non-programmers, use the corresponding labels as a tuple ("Graduate","No")

In [ ]:
# YOUR CODE HERE

## **Saving the dataframe**

We will save the s block dataframe as a CSV file. The format can be excel too.

In [ ]:
not_programmer.to_csv("non_programmers.csv")